{% extends 'main.html' %}
{% load static %}
{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h2 style="text-align: center;" >Historic Order/Minute Books</h2>
            <a class="backButton" href="{% url 'landingBatches' %}"><i class="im im-angle-left"><</i></a>
            <br>
            

            <form class="form" method="GET" action="{% url 'historicOrderBooksResults' %}">
                {% csrf_token %}
                <!-- Input:Text -->
                <div class="form__field">
                    {% for field in form %}
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                    {% endfor %}
                </div>
                <a href="{% url 'historicOrderBooksResults' %}">
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Search" />
                </a>
                <a href="{% url 'landingBatches' %}">
                    <input class="btn btn--sub btn--lg  my-md" type="button" value="Canecl" />
                    </a>
            </form>
        </div>
    </div>
</main>
{% endblock content %}