{% extends 'main.html' %}
{% load static %}
{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <div class="title-container">
            <h2 id="cardName">LAW & CHANCERY</h2>
            </div>
            <a class="backButton" href="{% url 'landingBatches' %}"><i class="im im-angle-left"><</i></a>
            <br>
            <form id="myForm" class="form" method="GET" action="{% url 'lawChanceryResults' %}">
                {% csrf_token %}
                
                <div class="form__field">
                    {% for field in form %}
                    <div class="input-wrapper">
                    <label id="formLabel" for="formInput#text">{{field.label}}</label>
                    {{field}}
                    </div>
                    {% endfor %}
                </div>
                <div id="buttonSection">
                <a href="{% url 'lawChanceryResults' %}">
                <button id="formButton" class="btn btn--sub btn--lg  my-md" type="submit">Search</button>
                </a>
                <button id="formButton" type="button" class="btn btn--sub btn--lg my-md" onclick="resetForm()">Clear</button>
                <a href="{% url 'landingBatches' %}">
                <button id="formButton" class="btn btn--sub btn--lg  my-md" type="button">Cancel</button>
                </a>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="{% static 'js/scripts.js' %}" ></script>

{% endblock content %}