{% extends 'main.html' %}
{% load static %}
{% block content %}

<main >
    <div id="viewContainer" class="container">        
          <div id="buttonsContainer">
            <span id="spanButton" >First</span>
            <span id="spanButton" >Next</span>
            <span id="spanButton" >Prev</span>
            <span id="spanButton" >Last</span>
            <span id="spanButton" >Print</span>
            <span id="spanButton"  onclick="rotateImage()">Rotate</span>
            <span id="spanButton"  onclick="resetTransform()">Reset</span>
            <span class="editbtn" id="spanButton"  >Edit</span>        
            <a href="{% url 'deleteBatch' %}">
             <span id="spanButton" >Delete</span>
            </a>  
          </div>
          <div id="singleSelectedImage" class="image-container" >          
              <img id="selectedImage" class="singleBatch__preview" src="data:image/jpeg;base64,{{image_data}}" alt="image title" />           
          </div>
          <div class="popup" id="popup">
            <div class="close-btn">&times;</div>
          <form  method="POST">
            <h2>Update Info</h2>
            {% csrf_token %}
            <div class="form-element">
              {% for field in form %}
              <label>{{field.label}}</label>
              {{field}}
              {% endfor %}      
            </div>
            <button id="spanButton" class="cls" type="button">Update</button> 
          </form>   
        </div>

      </div>

      
       
     

  </main>
  <script src="{% static 'js/scripts.js' %}"></script>


{% endblock content %}
